
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
<header>
  <nav class="topcontainer">
    <ul class="leftcontainer" style="font-family: 'Raleway', sans-serif;">
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#about">About</a></li>
    </ul>

    <h1 class="midcontainer" style="font-family: 'Maven Pro', sans-serif;">EXPENSE TRACKER</h1>

    <p class="rightcontainer" style="font-family: 'Raleway', sans-serif;"><a href="#contact">Contact</a></p>
  </nav>

</header>
