*{
  margin: 0;
  padding: 0;
  background-color: #DF33CC;
  box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@900&family=Passion+One:wght@700&family=Raleway:wght@700&family=Staatliches&display=swap');


body{

}



/* Header Design */
.topcontainer{
  padding:1% 0 5% 0;
  display:flex ;
  justify-content: space-between;
  background-color: red;
}

.leftcontainer{
  background-color: inherit;
}

.leftcontainer li{
  color: black;
  display: inline-block;
  padding: 4px 15px;
  flex:2;
  background-color: inherit;
}

.leftcontainer li a{
  color: black;
  background-color: inherit;
}

.rightcontainer{
  padding: 4px 15px;
  text-align: center;
  flex:2;
  background-color: inherit;
}

.rightcontainer a{
  background-color: inherit;
}

.midcontainer{
  text-align: center;
  flex:11;
  background-color: inherit;
}

a{
  text-decoration: none;
  list-style-type:none;
}

nav ul{
  list-style-type:none;
}


/* Ipnut from user */
input{
  border-radius: 25px;
  padding: 0 2px;
  background-color: #2F11AC;
}


/* item displasy */

.column{
    display: inline-block;
    border-radius: 5px;
}

.item{
  display: flex;
}

.date{
  width: 10%;
}

.time{
  width: 10%;
}

.name{
  width: 10%;
}

.description{
  width: 40%;
}

.amount{
  width: 20%;
}
 .buto{
   flex:1;
   border-radius: 25px;
   background-color: #01955A;
   opacity: 0.6;
   color: white;
  font-family: 'Maven Pro', sans-serif;
 }

 .buto:hover {opacity: 1}
